<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>How much would you like to pay?</h1>
    <form method='GET' action='{% url 'pay_here' %}'>
        {%csrf_token%}
        {{details_form.as_p}}
        <label>Amount Due:</label>
        <input type="number" name="amount" placeholder="in SGD"/>
        <input type="submit" value="Confirm Payment"/>
    </form>
    <h1>Make your Payment Here</h1>
    <p>Thank you, you have indicated to pay SGD {{amount}}</p>
    
    <form method="POST">
      {% csrf_token %}
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="{{ stripe_public_key }}"
              data-description="Donation to a questionable blog"
              data-amount="{{amount}}"
              data-currency="SGD"
              data-locale="auto"></script>
      <input type='hidden' name='amount' value='{{amount}}'/>
    </form>
</body>
</html>